dist
test-space
node_modules
packages/mcp-server/scripts

.history
.DS_Store
.vscode-test/
.github/skills
.vscode/launch.json

features.md
**/package-lock.json
/scripts/link-local.sh
/scripts/build-vsce.ts
packages/vscode-extension/*.zip
packages/vscode-extension/*.vsix
packages/vscode-extension/qingkuai-language-features-*
packages/vscode-extension/syntaxes/qingkuai.tmLanguage.json
packages/vscode-extension/syntaxes/qingkuai-emmet.tmLanguage.json
